@model BlogReviewVM

@{
    ViewData["Title"] = "Detail";
    List<Blog> blogs = ViewBag.Blog;

}

<!-- breadcrumb area start -->
<div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h1 class="breadcrumb-title">Blog</h1>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a asp-controller="blog" asp-action="index">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->
<!-- blog main wrapper start -->
<div class="blog-main-wrapper section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2">
                <div class="blog-widget-wrapper">
                    <!-- widget item start -->
                    <div class="blog-widget">
                        <div class="blog-widget-img">
                            <img src="~/assets/img/blog/11.jpg" alt="author thumb" />
                        </div>
                        <div class="blog-author-title text-center">
                            <h5>Erik Jhonson</h5>
                            <span>UI UX Designer</span>
                            <div class="blog-widget-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-vimeo"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- widget item end -->
                    <!-- widget item start -->
                    <div class="blog-widget">
                        <h4 class="blog-widget-title">Search</h4>
                        <form class="widget-search-form">
                            <input placeholder="Search keyword" type="text" class="search-field">
                            <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- widget item end -->
                    <!-- widget item start -->
                    <div class="blog-widget">
                        <h4 class="blog-widget-title">Recent Posts</h4>
                        <ul class="recent-posts-inner">
                            @for (int i = 0; i < 4; i++)
                            {
                                <li class="recent-posts">
                                    <div class="recent-posts-image">
                                        <a asp-action="detail" asp-controller="blog" asp-route-id="@blogs[i].Id"><img src="~/assets/img/blog/@blogs[i].Image" alt="post thumb"></a>
                                    </div>
                                    <div class="recent-posts-body">
                                        <span class="recent-posts-meta">@ViewBag.Blog[i].CreatedAt</span>
                                        <h6 class="recent-posts-title"><a asp-action="detail" asp-controller="blog" asp-route-id="@blogs[i].Id">@blogs[i].Title.Substring(0,25)</a></h6>
                                    </div>
                                </li>
                            }
                            
                        </ul>
                    </div>
                    <!-- widget item end -->
                    
                </div>
            </div>
            <div class="col-lg-9 order-1">
                <div class="row">
                    <div class="col-12">
                        <!-- blog single item start -->
                        <div class="blog-post-item">
                            <div class="blog-thumb">
                                <img src="~/assets/img/blog/@Model.Blog.Image" alt="blog thumb">
                            </div>
                            <div class="blog-content blog-details">
                                <h5 class="blog-title">
                                    @Model.Blog.Title.Substring(0,25)
                                </h5>
                                <ul class="blog-meta">
                                    <li><span>By: </span>@Model.Blog.CreatedBy,</li>
                                    <li><span>On: </span>@Model.Blog.CreatedAt</li>
                                </ul>
                                <p>
                                    @Html.Raw(Model.Blog.Description)
                                </p>
                            </div>
                        </div>
                        <!-- blog single item start -->
                        <!-- comment area start -->
                        <div class="comment-section section-padding">
                            <h5> Comment</h5>
                            <ul>
                                @if (Model.Blog != null && Model.Blog.Comments != null)
                                {
                                    @foreach (Comment comment in Model.Blog.Comments)
                                    {
                                        <li>
                                            <div class="author-avatar">
                                                <img src="~/assets/img/blog/comment-icon.png" alt="">
                                            </div>
                                            <div class="comment-body">
                                                <span class="reply-btn"><a href="#">Reply</a></span>
                                                <h5 class="comment-author">@comment.Name</h5>
                                                <div class="comment-post-date">
                                                    @comment.CreatedAt?.ToString("dd MMM yyyy")
                                                </div>
                                                <p>
                                                    @comment.Description
                                                </p>
                                            </div>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>
                        <!-- comment area end -->
                        <!-- start blog comment box -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            @await Html.PartialAsync("_AddCommentPartial",Model.Comment)
                        }
                        
                        <!-- start blog comment box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
