@model ProfileVM

@{
    ViewData["Title"] = "MyAccount";

}

<!-- breadcrumb area start -->
<div class="breadcrumb-area bg-img" data-bg="assets/img/banner/breadcrumb-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h1 class="breadcrumb-title">My Account</h1>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My Account</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->
<!-- my account wrapper start -->
<div class="my-account-wrapper section-padding">
    <div class="container custom-container">
        <div class="row">
            <div class="col-lg-12">
                <!-- My Account Page Start -->
                <div class="myaccount-page-wrapper">
                    <!-- My Account Tab Menu Start -->
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="myaccount-tab-menu nav" role="tablist">
                                <a href="#dashboad" class="@(TempData["Tab"] == null ? "active" : "")" data-toggle="tab">
                                    <i class="fa fa-dashboard"></i>
                                    Dashboard
                                </a>
                                <a class="@(TempData["Tab"]?.ToString() == "orders" ? "active" : "")" href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>
                                <a class="@(TempData["Tab"]?.ToString() == "address" ? "active" : "")" href="#address-edit" data-toggle="tab"><i class="fa fa-map-marker"></i> address</a>
                                <a class="@(TempData["Tab"]?.ToString() == "account" ? "active" : "")" href="#account-info" data-toggle="tab"><i class="fa fa-user"></i> Account Details</a>
                                <a asp-controller="account" asp-action="logout"><i class="fa fa-sign-out"></i> Logout</a>
                            </div>
                        </div>
                        <!-- My Account Tab Menu End -->
                        <!-- My Account Tab Content Start -->
                        <div class="col-lg-9 col-md-8">
                            <div class="tab-content" id="myaccountContent">
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade@(TempData["Tab"] == null ? "show active" : "") " id="dashboad" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Dashboard</h3>
                                        <div class="welcome">
                                            <p>Hello, <strong>@(Model != null ? $"{Model.Name} {Model.SurName}" : "")</strong> (If Not <strong>@(Model != null ? $"{Model.Name} {Model.SurName}" : "")!</strong><a asp-controller="account" asp-action="logout" class="logout"> Logout</a>)</p>
                                        </div>
                                        <p class="mb-0">From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and edit your password and account details.</p>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade @(TempData["Tab"]?.ToString() == "orders" ? "show active" : "")" id="orders" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Orders</h3>
                                        <div class="myaccount-table table-responsive text-center">
                                            <table class="table table-condensed" style="border-collapse:collapse;">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Order</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                        <th>Total</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (Order order in Model.Orders)
                                                    {
                                                        <tr data-toggle="collapse" data-target="#demo@(order.Id)" class="accordion-toggle">
                                                            <td>@order.No</td>
                                                            <td>@order.CreatedAt?.ToString("dd MMM yyyy")</td>
                                                            <td>@order.Status</td>
                                                            <td class="text-success">@(order.OrderItems.Sum(i => i.Price * i.Count).ToString("C"))</td>
                                                            <td class="text-error">@order.Commet</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6" class="hiddenRow">
                                                                <div class="accordian-body collapse" id="demo@(order.Id)">
                                                                    <table class="table table-condensed" style="border-collapse:collapse;">
                                                                        <thead class="thead-light">
                                                                            <tr>
                                                                                <th>Image</th>
                                                                                <th>Name</th>
                                                                                <th>Price</th>
                                                                                <th>Count</th>
                                                                                <th>Total</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (OrderItem item in order.OrderItems)
                                                                            {
                                                                                <tr>
                                                                                    <td><img width="50px" height="50px" src="~/assets//img//product/@item.Product.Image"/></td>
                                                                                    <td>@item.Product.Title</td>
                                                                                    <td>@((item.Product.DiscountedPrice > 0 ? item.Product.DiscountedPrice : item.Product.Price).ToString("C"))</td>
                                                                                    <td>@item.Count</td>
                                                                                    @if (item.Product.DiscountedPrice != null && item.Product.DiscountedPrice > 0)
                                                                                    {
                                                                                        <td class="text-success">@((item.Product.DiscountedPrice  * item.Count).ToString("C"))</td>
                                                                                    }else{
                                                                                        <td class="text-success">@((item.Product.Price * item.Count).ToString("C"))</td>
                                                                                    }
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade @(TempData["Tab"]?.ToString() == "downloads" ? "show active" : "")" id="download" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Downloads</h3>
                                        <div class="myaccount-table table-responsive text-center">
                                            <table class="table table-bordered">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Date</th>
                                                        <th>Expire</th>
                                                        <th>Download</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Haven - Free Real Estate PSD Template</td>
                                                        <td>Aug 22, 2018</td>
                                                        <td>Yes</td>
                                                        <td><a href="#" class="btn "><i class="fa fa-cloud-download"></i> Download File</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>HasTech - Profolio Business Template</td>
                                                        <td>Sep 12, 2018</td>
                                                        <td>Never</td>
                                                        <td><a href="#" class="btn "><i class="fa fa-cloud-download"></i> Download File</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade @(TempData["Tab"]?.ToString() == "payment" ? "show active" : "")" id="payment-method" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Payment Method</h3>
                                        <p class="saved-message">You Can't Saved Your Payment Method yet.</p>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade @(TempData["Tab"]?.ToString() == "address" ? "show active" : "")" id="address-edit" role="tabpanel">
                                    @if (Model.EditAddress.Id == null || Model.EditAddress.Id == 0)
                                    {
                                        <div class="addressForm d-none">
                                            @await Html.PartialAsync("_AddressFormPartial",new Address())
                                        </div>
                                        <div class="myaccount-content addressContainer">
                                            <a href="#" class="check-btn sqr-btn addAddress"><i class="fa fa-edit"></i> Add Address</a>
                                            @if (Model.Addresses != null && Model.Addresses.Count() > 0)
                                            {
                                                foreach (Address address in Model.Addresses)
                                                {
                                                    <h3>@address.Country </h3>
                                                    <address>
                                                        <p><strong>@($"{Model.Name} {Model.SurName}")</strong></p>
                                                        <p>
                                                            @address.City, @address.State <br>
                                                            , @address.PostalCode
                                                        </p>
                                                        <p>Mobile: @address.Phone</p>
                                                        <p>IsMain:<span class="text @(address.IsMain ? "text-success" : "text-danger")"> @address.IsMain</span></p>
                                                    </address>
                                                    <a asp-action="EditAddress" asp-controller="account" asp-route-id="@address.Id" class="check-btn sqr-btn "><i class="fa fa-edit"></i> Edit Address</a>
                                                }
                                            }

                                        </div>
                                    }else{
                                        <div class="addressForm ">
                                            @await Html.PartialAsync("_EditAddressPartial", Model.EditAddress)
                                        </div>
                                    }                             <!-- Single Tab Content Start -->
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade @(TempData["Tab"]?.ToString() == "account" ? "show active" : "")" id="account-info" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Account Details</h3>
                                        <div class="account-details-form">
                                            <form method="post">
                                                <div class="row">
                                                    <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
                                                    <div class="col-lg-6">
                                                        <div class="single-input-item">
                                                            <label asp-for=Name for="first-name" class="required">First Name</label>
                                                            <input asp-for=Name type="text" id="first-name" placeholder="First Name" />
                                                            <span asp-validation-for=Name class="text text-danger"></span>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="single-input-item">
                                                            <label asp-for=SurName for="last-name" class="required">Last Name</label>
                                                            <input asp-for=SurName type="text" id="last-name" placeholder="Last Name" />
                                                            <span asp-validation-for=SurName class="text text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-input-item">
                                                    <label asp-for=UserName for="display-name" class="required">Display Name</label>
                                                    <input asp-for=UserName type="text" id="display-name" placeholder="Display Name" />
                                                </div>
                                                <div class="single-input-item">
                                                    <label asp-for=Email for="email" class="required">Email Addres</label>
                                                    <input asp-for="Email" type="email" id="email" placeholder="Email Address" />
                                                    <span asp-validation-for=Email class="text text-danger"></span>
                                                </div>
                                                <fieldset>
                                                    <legend>Password change</legend>
                                                    <div class="single-input-item">
                                                        <label asp-for=OldPassword for="current-pwd" class="required">Current Password</label>
                                                        <input asp-for=OldPassword type="password" id="current-pwd" placeholder="Current Password" />
                                                        <span asp-validation-for=OldPassword class="text text-danger"></span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item">
                                                                <label asp-for=Password for="new-pwd" class="required">New Password</label>
                                                                <input asp-for=Password type="password" id="new-pwd" placeholder="New Password" />
                                                                <span asp-validation-for=Password class="text text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="single-input-item">
                                                                <label asp-for=ConfirimPassword for="confirm-pwd" class="required">Confirm Password</label>
                                                                <input asp-for=ConfirimPassword type="password" id="confirm-pwd" placeholder="Confirm Password" />
                                                                <span asp-validation-for=ConfirimPassword class="text text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div class="single-input-item">
                                                    <button type="submit" class="check-btn sqr-btn ">Save Changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div> <!-- Single Tab Content End -->
                            </div>
                        </div> <!-- My Account Tab Content End -->
                    </div>
                </div> <!-- My Account Page End -->
            </div>
        </div>
    </div>
</div>
<!-- my account wrapper end -->
