@model Blog

@{
    ViewData["Title"] = "Detail";
}

<div class="col-lg-2">
    <h1 class="h3 mb-4 text-gray-800">Blog Detail Page</h1>
</div>
<div class="row">
    <div class="col-lg-8" style="border:1px solid #cdc2c2; padding: 1rem; border-radius: 5px;">
        <h2>@Model.Title</h2>
        <p>CreatedBy : @Model.CreatedBy</p>
        <p>CreatedAt : @Model.CreatedAt</p>
        <img src="~/assets/img/blog/@Model.Image" alt="@Model.Title" />
        <div class="">
            <p>@Model.Description</p>
        </div>
        <p>UpdateAt : @(Model.UpdatetAt != null ? Model.UpdatetAt : "--")</p>
        <p>UpdateBy : @(Model.UpdatetBy != null ? Model.UpdatetBy : "--")</p>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_Validations")
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>


}


